a{
    text-decoration: none;
}

a:hover{

color: brown;
}

body{

    font-family: 'Century Gothic';
    background-image: url(/img/paisatge.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    letter-spacing: 0.03;
    line-height: 1.5;
    text-decoration: none;

}

.header{

    width: 100%;
    height: 9em;
}

.container{

margin-bottom: 110%;

}
